button {
  width: 100px;
  height: 30px;
  margin: 2px auto;
  background-color: transparent;
  border: 2px solid rgba(5, 35, 49, 0.288);
  border-radius: 5px;
}

button:hover {
  background-color: white;
  border: none;
}
